<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.dao.system.ma.mapper.MsgRecordTblMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berg.dao.system.ma.entity.MsgRecordTbl">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="open_id" property="openId" />
        <result column="data" property="data" />
        <result column="template_id" property="templateId" />
        <result column="page" property="page" />
        <result column="miniapp_state" property="miniappState" />
        <result column="lang" property="lang" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, open_id, data, template_id, page, miniapp_state, lang, remark, create_time
    </sql>

</mapper>
